.second {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 450px;;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  text-align: center;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}


.form1 {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 280px;
}

.form1 img {
  width: 90px;
  margin-bottom: 15px;
  border-radius: 50%;
}


.log1 {
  display: block;
  text-align: left;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.siva {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.btn2 {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn2:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .second {
    max-width: 80%;
    min-height: 50vh;
  }
  .form1 {
    width: 250px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .second {
    max-width: 90%;
    min-height: 60vh;
  }
  .form1 {
    width: 220px;
    padding: 15px;
  }
}
